@model IEnumerable<OnlineTest.Models.Test>

@{
    ViewData["Title"] = "Tests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tests</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Give Test", "QuesForTest", new { id = item.Id, no = 1 }) |
                @Html.ActionLink("View Score", "ViewScore", new { id = item.Id}) |
            </td>
        </tr>
}
    </tbody>
</table>
